<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo Application</title>
</head>
<body>
    <h1>TODO APP</h1>

    <ul>
        {% for t in alltodo %}
        <li>{{ t.content }}
            <form action="/deleteTodo/{{t.id}}/" method="post"
            style="display:inline;"
            >{% csrf_token %}
               <input type="submit" value="Delete"><br>
            </form>
        </li>
        {% endfor %}
    </ul>

<form action="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">

</form>
</body>
</html>